server:
  port: 4558

management:
  endpoint:
    health:
      show-details: "always"
  endpoints:
    web:
      base-path: /
      exposure:
        include: health, info, prometheus

springdoc:
  packagesToScan: uk.gov.hmcts.reform.hmc.controllers

#If you use a database then uncomment below lines and update db properties accordingly
spring:
  config:
    import: "optional:configtree:/mnt/secrets/hmc/"
  application:
    name: HMC HMI Outbound Adapter
  jackson:
    property-naming-strategy: SNAKE_CASE
  cloud:
    discovery:
      client:
        composite-indicator:
          enabled: false
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://${CFT_HEARING_SERVICE_DB_HOST:localhost}:${CFT_HEARING_SERVICE_DB_PORT:5060}/${CFT_HEARING_SERVICE_DB_NAME:hmc_cft_hearing_service}${CFT_HEARING_SERVICE_DB_OPTIONS:}
    username: ${CFT_HEARING_SERVICE_DB_USERNAME:hmc}
    password: ${CFT_HEARING_SERVICE_DB_PASSWORD:hmc}
    properties:
      charSet: UTF-8
    hikari:
      data-source-properties: stringtype=unspecified
      minimumIdle: 2
      maximumPoolSize: 10
      idleTimeout: 10000
      poolName: HikariCP
      maxLifetime: 7200000
      connectionTimeout: 30000
  jpa:
    database: postgresql
    show-sql: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        jdbc:
          time_zone: UTC

azure:
  application-insights:
    instrumentation-key: ${hmc.AppInsightsInstrumentationKey:00000000-0000-0000-0000-000000000000}
  jms:
    servicebus:
      outbound-connection-string: ${HMC_SERVICE_BUS_OUTBOUND_CONNECTION_STRING}
      outbound-queue-name: ${HMC_SERVICE_BUS_OUTBOUND_QUEUE}
      # should be an integer that is interpreted as seconds
      exponential-multiplier: ${SERVICE_BUS_EXPONENTIAL_MULTIPLIER:2}
      max-retry-attempts: ${SERVICE_BUS_MAX_RETRIES:5}
      inbound-connection-string: ${HMC_SERVICE_BUS_INBOUND_CONNECTION_STRING}
      inbound-queue-name: ${HMC_SERVICE_BUS_INBOUND_QUEUE}
      external-connection-string: ${HMC_SERVICE_BUS_CONNECTION_STRING}
      external-topic-name: ${HMC_SERVICE_BUS_TOPIC}

fh:
  ad:
    host: ${FH_BASE_URL:base/url}
    get-token-url: ${FH_GET_TOKEN_URL:get/token/url}
    client-id: ${CLIENT_ID:client-id}
    client-secret: ${CLIENT_SECRET:client-secret}
    scope: ${SCOPE:scope}
    grant-type: ${GRANT_TYPE:grant-type}
    retryer:
      period: ${FH_RETRYER_PERIOD:100}
      max-period: ${FH_RETRYER_MAX_PERIOD:1000}
      max-attempts: ${FM_RETRYER_MAX_ATTEMPTS:3}
  hmi:
    host: ${HMI_BASE_URL:base/url}
    source-system: ${HMI_SOURCE_SYSTEM:source-system}
    destination-system: ${HMI_DESTINATION_SYSTEM:destination-system}

feign:
  okhttp:
    enabled: true

LOGGING:
  LEVEL:
    uk:
      gov:
        hmcts:
          reform:
            hmc: DEBUG

logging:
  level:
    org:
      hibernate:
        SQL: DEBUG
        type:
          descriptor:
            sql:
              BasicBinder: TRACE

pending:
  request:
    deletion-wait-interval: ${PR_DELETION_WAIT_INTERVAL:30,DAYS}
    escalation-wait-interval: ${PR_ESCALATION_WAIT_INTERVAL:1,DAY}
    exception-limit-in-hours: ${PR_EXCEPTION_LIMIT_IN_HOURS:24}
    pending-wait-in-milliseconds: ${PR_PENDING_WAIT_IN_MILLISECS:120000}
    pending-wait-interval: ${PR_PENDING_WAIT_INTERVAL:2,MINUTES}
    retry-limit-in-minutes: ${PR_RETRY_LIMIT_IN_MINUTES:15}
